In [7]:
# Dependencies
import pandas as pd
import glob

In [15]:
# File to Load
q1_2018_csv = "Resources/Divvy_Trips_2018_Q1.csv"
q2_2018_csv = "Resources/Divvy_Trips_2018_Q2.csv"
q3_2018_csv = "Resources/Divvy_Trips_2018_Q3.csv"
q4_2018_csv = "Resources/Divvy_Trips_2018_Q4.csv"

# Read School and Student Data File and store into Pandas Data Frames
q1_data = pd.read_csv(q1_2018_csv)
q1_data.head()


q1_data.dtypes
q1_data['start_time'] = pd.to_datetime(q1_data['start_time'])
q1_data['end_time'] = pd.to_datetime(q1_data['end_time'])

q2_data = pd.read_csv(q2_2018_csv)
q3_data = pd.read_csv(q3_2018_csv)
q4_data = pd.read_csv(q4_2018_csv)

In [16]:
q1_data

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,17536702,2018-01-01 00:12:00,2018-01-01 00:17:00,3304,323,69,Damen Ave & Pierce Ave,159,Claremont Ave & Hirsch St,Subscriber,Male,1988.0
1,17536703,2018-01-01 00:41:00,2018-01-01 00:47:00,5367,377,253,Winthrop Ave & Lawrence Ave,325,Clark St & Winnemac Ave (Temp),Subscriber,Male,1984.0
2,17536704,2018-01-01 00:44:00,2018-01-01 01:33:00,4599,"2,904.00",98,LaSalle St & Washington St,509,Troy St & North Ave,Subscriber,Male,1989.0
3,17536705,2018-01-01 00:53:00,2018-01-01 01:05:00,2302,747,125,Rush St & Hubbard St,364,Larrabee St & Oak St,Subscriber,Male,1983.0
4,17536706,2018-01-01 00:53:00,2018-01-01 00:56:00,3696,183,129,Blue Island Ave & 18th St,205,Paulina St & 18th St,Subscriber,Male,1989.0
...,...,...,...,...,...,...,...,...,...,...,...,...
387140,18000522,2018-03-31 23:46:00,2018-04-01 00:05:00,1935,"1,130.00",158,Milwaukee Ave & Wabansia Ave,260,Kedzie Ave & Milwaukee Ave,Subscriber,Male,1982.0
387141,18000523,2018-03-31 23:47:00,2018-03-31 23:52:00,5852,262,299,Halsted St & Roscoe St,229,Southport Ave & Roscoe St,Subscriber,Male,1989.0
387142,18000524,2018-03-31 23:50:00,2018-03-31 23:57:00,4414,440,327,Sheffield Ave & Webster Ave,226,Racine Ave & Belmont Ave,Subscriber,Male,1991.0
387143,18000525,2018-03-31 23:52:00,2018-04-01 00:07:00,6448,887,265,Cottage Grove Ave & Oakwood Blvd,426,Ellis Ave & 60th St,Subscriber,Male,1991.0
387144,18000526,2018-03-31 23:53:00,2018-04-01 00:03:00,2769,570,485,Sawyer Ave & Irving Park Rd,475,Washtenaw Ave & Lawrence Ave,Subscriber,Male,1991.0

In [18]:
#q1_data.start_time.dt.strftime('%m')
q1_data.dtypes
q1_data.start_time.dt.strftime('%m-%y')
q1_data.end_time.dt.strftime('%m-%y')

# change the start_time and end_time columns to datetime objects

# change the format using something like

0         01-18
1         01-18
2         01-18
3         01-18
4         01-18
          ...
387140    04-18
387141    03-18
387142    03-18
387143    04-18
387144    04-18
Name: end_time, Length: 387145, dtype: object

In [19]:
q2_data.head(10000)

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,18000527,2018-04-01 00:04:44,2018-04-01 00:13:03,3819,499.0,22,May St & Taylor St,171,May St & Cullerton St,Subscriber,Male,1994.0
1,18000528,2018-04-01 00:06:42,2018-04-01 00:27:07,5000,"1,225.0",157,Lake Shore Dr & Wellington Ave,190,Southport Ave & Wrightwood Ave,Subscriber,Male,1965.0
2,18000529,2018-04-01 00:07:19,2018-04-01 00:23:19,5165,960.0,106,State St & Pearson St,106,State St & Pearson St,Customer,NaN,NaN
3,18000530,2018-04-01 00:07:33,2018-04-01 00:14:47,3851,434.0,241,Morgan St & Polk St,171,May St & Cullerton St,Subscriber,Male,1998.0
4,18000531,2018-04-01 00:10:23,2018-04-01 00:22:12,5065,709.0,228,Damen Ave & Melrose Ave,219,Damen Ave & Cortland St,Subscriber,Male,1983.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,18013024,2018-04-03 07:59:44,2018-04-03 08:03:59,3048,255.0,340,Clark St & Wrightwood Ave,13,Wilton Ave & Diversey Pkwy,Subscriber,Male,1989.0
9996,18013026,2018-04-03 07:59:46,2018-04-03 08:10:51,2500,665.0,176,Clark St & Elm St,174,Canal St & Madison St,Subscriber,Male,1993.0
9997,18013027,2018-04-03 08:00:13,2018-04-03 08:04:41,181,268.0,43,Michigan Ave & Washington St,51,Clark St & Randolph St,Subscriber,Female,1959.0
9998,18013028,2018-04-03 08:00:15,2018-04-03 08:04:01,5262,226.0,320,Loomis St & Lexington St,241,Morgan St & Polk St,Subscriber,Male,1994.0
9999,18013029,2018-04-03 08:00:13,2018-04-03 08:07:16,1378,423.0,176,Clark St & Elm St,173,Mies van der Rohe Way & Chicago Ave,Subscriber,Female,1990.0

In [20]:
q3_data.head()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,19244622,2018-07-01 00:00:03,2018-07-01 23:56:11,5429,"86,168.0",140,Dearborn Pkwy & Delaware Pl,106,State St & Pearson St,Customer,NaN,NaN
1,19244623,2018-07-01 00:00:13,2018-07-01 00:06:39,93,386.0,153,Southport Ave & Wellington Ave,250,Ashland Ave & Wellington Ave,Subscriber,Male,1986.0
2,19244624,2018-07-01 00:00:15,2018-07-01 00:23:26,2461,"1,391.0",76,Lake Shore Dr & Monroe St,301,Clark St & Schiller St,Subscriber,Female,1987.0
3,19244625,2018-07-01 00:00:25,2018-07-01 00:23:31,2991,"1,386.0",76,Lake Shore Dr & Monroe St,301,Clark St & Schiller St,Subscriber,Male,1986.0
4,19244626,2018-07-01 00:00:27,2018-07-01 00:11:23,2851,656.0,60,Dayton St & North Ave,166,Ashland Ave & Wrightwood Ave,Subscriber,Male,1961.0

In [21]:
q4_data.head()

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,20983530,2018-10-01 00:01:17,2018-10-01 00:29:35,4551,"1,698.0",85,Michigan Ave & Oak St,166,Ashland Ave & Wrightwood Ave,Subscriber,Male,1992.0
1,20983531,2018-10-01 00:03:59,2018-10-01 00:10:55,847,416.0,13,Wilton Ave & Diversey Pkwy,144,Larrabee St & Webster Ave,Subscriber,Female,1982.0
2,20983532,2018-10-01 00:05:14,2018-10-01 00:14:08,6188,534.0,59,Wabash Ave & Roosevelt Rd,197,Michigan Ave & Madison St,Subscriber,Male,1986.0
3,20983533,2018-10-01 00:05:48,2018-10-01 00:18:46,6372,778.0,328,Ellis Ave & 58th St,419,Lake Park Ave & 53rd St,Subscriber,Female,1960.0
4,20983534,2018-10-01 00:07:29,2018-10-01 00:25:51,1927,"1,102.0",93,Sheffield Ave & Willow St,159,Claremont Ave & Hirsch St,Subscriber,Female,1993.0

In [24]:
divvy_data = [q1_data, q2_data, q3_data, q4_data]

divvy_combined = pd.concat(divvy_data)

In [25]:
divvy_combined

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,17536702,2018-01-01 00:12:00,2018-01-01 00:17:00,3304,323,69,Damen Ave & Pierce Ave,159,Claremont Ave & Hirsch St,Subscriber,Male,1988.0
1,17536703,2018-01-01 00:41:00,2018-01-01 00:47:00,5367,377,253,Winthrop Ave & Lawrence Ave,325,Clark St & Winnemac Ave (Temp),Subscriber,Male,1984.0
2,17536704,2018-01-01 00:44:00,2018-01-01 01:33:00,4599,"2,904.00",98,LaSalle St & Washington St,509,Troy St & North Ave,Subscriber,Male,1989.0
3,17536705,2018-01-01 00:53:00,2018-01-01 01:05:00,2302,747,125,Rush St & Hubbard St,364,Larrabee St & Oak St,Subscriber,Male,1983.0
4,17536706,2018-01-01 00:53:00,2018-01-01 00:56:00,3696,183,129,Blue Island Ave & 18th St,205,Paulina St & 18th St,Subscriber,Male,1989.0
...,...,...,...,...,...,...,...,...,...,...,...,...
642681,21742438,2018-12-31 23:45:17,2018-12-31 23:50:05,2931,288.0,49,Dearborn St & Monroe St,164,Franklin St & Lake St,Subscriber,Female,1983.0
642682,21742439,2018-12-31 23:48:48,2018-12-31 23:57:22,4386,514.0,624,Dearborn St & Van Buren St (*),44,State St & Randolph St,Subscriber,Female,1990.0
642683,21742440,2018-12-31 23:50:09,2018-12-31 23:57:16,4927,427.0,41,Federal St & Polk St,52,Michigan Ave & Lake St,Subscriber,Female,1995.0
642684,21742441,2018-12-31 23:55:04,2018-12-31 23:58:24,1350,200.0,141,Clark St & Lincoln Ave,118,Sedgwick St & North Ave,Subscriber,Male,1999.0
642685,21742442,2018-12-31 23:59:18,2019-01-01 00:20:43,2006,"1,285.0",260,Kedzie Ave & Milwaukee Ave,166,Ashland Ave & Wrightwood Ave,Subscriber,Male,1990.0

In [ ]:
#When are the the most Divvy bikes on the road?

In [ ]:
# What are the most used stops?

In [ ]:
# How does weather affect rides? Does ridership change MoM as weather changes?

In [29]:
# Demographic Data

In [27]:
divvy_df = pd.DataFrame(divvy_combined.groupby(["from_station_name"])["bikeid"].count().reset_index())

In [28]:
divvy_df

                from_station_name  bikeid
0             2112 W Peterson Ave     456
1                   63rd St Beach     956
2               900 W Harrison St    6187
3      Aberdeen St & Jackson Blvd   12056
4         Aberdeen St & Monroe St    9875
..                            ...     ...
617           Wood St & Taylor St    5987
618        Woodlawn Ave & 55th St    3488
619        Woodlawn Ave & 75th St      30
620  Woodlawn Ave & Lake Park Ave    1010
621          Yates Blvd & 75th St     103

[622 rows x 2 columns]